.comment-nick {
    font-family: sans-serif;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    margin-left: 50px;
}

.comment-text {
    font-family: sans-serif;
    color: #fff;
    font-size: 24px;
    margin-left: 50px;
}